@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section>
    <div class="section group">
    <article class="col span_2_of_2">
    <h1>My Story</h1>
    <p style="line-height:1.4em;">Sometime during January 2013 I was searching for a way to increase my prayer compliance. To improve compliance I needed to measure it. I started searching for online tools that can help me. There were online tools available to measure my exercise routines, goals, financial details etc., but nothing was available to measure my prayer routine.</p>
    <p style="line-height:1.4em;">Then I tried a plain old diary and mobile phone apps. But after sometime I somehow lost them and with that the data also was gone. </p>
    <p style="line-height:1.4em;">Being a software engineer I finally rolled up my sleeves and did this web site that stores the data in the cloud and accessible from any device (mobile, tablet, pc etc.,) that can reach internet. I hope it is helpful.</p>
<br />&nbsp;
<br />-Site Author
    </article>
</div>
</section>
