@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section>
    <div class="section group">
    <article class="col span_2_of_2">
    <h1>About</h1>
    <p style="line-height:1.4em;">
    Sometime during January 2013 I was searching for a way to increase my prayer compliance. 
    To improve compliance I needed to measure it. I started to search for tools that can help me. I tried
    a plain old diary and mobile phone apps. But after sometime I somehow lost them and with that the data also
    was gone. I finally rolled up my sleeves and did this web based tool that stores the data in the cloud. It is
    accessible from any device that can reach internet. I hope its helpful.<br />&nbsp;<br />-Site Author
    </p>
    </article>
</div>
</section>
