@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section class="section group">
    <article class="col span_1_of_2">
    <h1>Welcome!!</h1>
        <p>Improve your prayer compliance in 3 easy steps.</p>
        <ol>
        <li>Log - Enter your prayers daily in under 3 minutes.</li>
        <li>Review - Check your prayer habits.</li>
        <li>Makeup - Find out your missed prayers.</li>
        </ol>
    </article>
    <article class="col span_1_of_2">
        <h1>Interested signup in a minute.</h1>
        <form>
    <fieldset>
        <legend>Register a new account.</legend>
        <ol>
            <li>
            <label for="username">Username</label><input name="username" type="text" placeholder="Select a username" required />
            </li>
            <li>
            <label for="password">Password</label><input name="password" type="password" placeholder="Select a password" required/>
            </li>
            <li>
            <label for="password">Retype Password</label><input name="password" type="password" placeholder="Select a password" required/>
            </li>
            <li>
            <label for="email">Email</label><input name="email" type="email" placeholder="We wont spam your mail" required/><br />
            <input type="submit" value="Signup" />
            </li>
        </ol>
    </fieldset>
    </form>
    </article>
</section>
<section class="section group">
    <article class="col span_3_of_3">
        <blockquote>
            "The first matter a slave will be brought to account is the prayer. If it is sound, then the rest of his deeds will be sound. And if it is bad, then the rest of his deeds will be bad."
            <cite>-Tabrani</cite>
        </blockquote>
    </article>
</section>
