@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section class="section group">
    <article class="col span_2_of_2" style="text-align:left;">
        <h1>Login.</h1>
        <form action="~/Log/">
    <fieldset>
        <legend>Enter user credentials.</legend>
        <ol>
            <li>
            <label for="username">Username</label><input name="username" type="text" placeholder="Enter your username" required value=""/>
            </li>
            <li>
            <label for="password">Password</label><input name="password" type="password" placeholder="Enter your password" required value=""/>
            </li>
            <li>
            <input name="rememberme" type="checkbox"/><label for="rememberme" class="checkbox">  Remember me</label>
            </li>
            <li>
            <input type="submit" value="Login" />
            </li>
        </ol>
    </fieldset>
    </form>
    </article>
</section>
