@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Erro - Server error";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section>
<h1 style="color:red;">Internal Error</h1>
<p>The server encountered an error while processing the request. We have noted down the error. 
    One of our developer will look into this soon.
</p>
</section>