@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error - Page not found";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section>
<h1 style="color:red;">Page not found</h1>
<p>The page/resource you are trying to access cannot be found.</p>
</section>