@using Mvc.Mailer

Hello,<br />
<p>
You received this mail since you requested mysalah.in to reset your password.<br />
</p>

<p>
Please click the link to reset your password <a href="@Url.Abs(Url.Action("ResetPassword", "Account"))/@ViewBag.Token">Click here</a>.
</p>

<p>
If the above link does not work then copy the following link into a browser address and visit the page to reset your password.<br />
@Url.Abs(Url.Action("ResetPassword", "Account"))/@ViewBag.Token</p>
<br />

Sincerely,
<br />&nbsp;
<br />
The mysalah.in team
<br />&nbsp;
<br />PS:If you are not the intended recipient of this mail then kindly delete this mail.

