Hello @ViewBag.Name,<br />
<p>
Your account is ready.<br />
Since you are serious about your prayer compliance and going to jannat, you can do the following
</p>

<ul>
<li>Login once a day and tick the completed prayers.</li>
<li>Once in a while review your prayer habits.</li>
<li>If you have time then makeup missed prayers and tick them off.</li>
</ul>

<p>
Since we value your privacy, we will use your maild only for password recovery. <br/>
Add this <a href="mailto:mysalah@outlook.com">mysalah@outlook.com</a> to your contact so our mails are not moved into your spam.
</p>

<br />
Welcome to mysalah.in<br />
<br />
-Team<br />