body { 
margin : 0 auto;
padding : 0;
font : 100%/1.4 'Arvo','Droid Serif', serif; 	
color : #000; 
background-color:#eee;
}
.container{
    max-width:960px;
    width:97%;
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 2px;
}
header, footer, section,article,nav {
    display: block;
}

article.bigarticle {
    overflow-x: scroll;
}

nav ul{
    list-style-type:none;
    padding-left:0px;
}

nav ul li {
    display:inline;
    padding-right:10px;
    border-right: 1px solid #aaa;
}

nav ul li:last-child {
    border-right: none;
}

form ul{
    list-style-type:none;
    padding-left:0px;
}

form ul li {
    display:inline;
    padding-right:10px;
}

label {
    cursor:default;
    font-size:small;
}

h1, h2, h3, h4, h5, h6 {
font-family:'Oswald','Roboto Condensed','Droid Sans',verdana, arial, helvetica, helve, sans-serif;
color: rgb(51,153,51);
font-weight:normal;
}
header h1 
{
    font-size: 200%;
    margin:0px;
    padding:0px;

}
h1 {
    font-size:140%;
    margin-top:0px;
}
h2 {
    font-size:120%;
    margin-top:0px;
}

small {
font-size:75%;
}

.floatleft {
    float:left;
}
.floatright {
    float:right;
}
.alignright {
text-align:right;
}
blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
margin: 0.25em 10px;
padding: 0.25em 40px;
line-height: 1.45;
color: #383838;
}

cite {
    display:block;
    text-align:right;
}

table { 
    border-collapse : collapse;
    border-spacing : 0px;
    margin-bottom : 1.4em; 
    width : 100%; 
}
tr.tr0 {
    background-color:whitesmoke/*rgb(219,238,243)*/;
}

tr.tr1 {
    background-color:white;
}
tr {
border:1px solid lightGray/*rgb(75,172,198)*/;
}

th, td, caption { 
padding : .25em 10px .25em 5px; 
}

tfoot { 
    font-style : italic; 
}

caption { 
background-color : transparent; 
}

thead th {
    text-align:center;
}
td {
    text-align:center;
    width:44px;
    height:44px;
}

table.reviewtable {
    background-color:whitesmoke;
}

table.reviewtable tr{
    border:none;
}
table.reviewtable td{
    padding:2px;
}

/*Forms*/

fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
}

fieldset legend {
    display: none;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

fieldset ol li {
    padding-bottom: 5px;
}

label {
    display: block;
    font-size: 1.2em;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 100%;
    max-width:300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

input:focus, textarea:focus {
    border: 1px solid #7ac0da;
}

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"].small,
input[type="button"].small,
button.small {
    font-size: 90%;
    width:auto;
    padding:5px;
    margin:0px;
}

input[type="submit"],
input[type="button"],
button {
    border: 1px solid #e2e2e2;
    background-color:green;
    color:white;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    width:auto;
}

/*Links */
a, a:visited, a:hover, a:link {
    color:rgb(0,122,204);
    text-decoration:none;
}

hr {
    border: 1px solid orange;
}
.progresscircle {
    width: 100%;
    height: 100%;
    display:none;
}
.progressbarbg {
    width: 90%;
    background-color: #ddd;
    display: block;
    overflow: visible;
}
.progressbar {
    background-color: #0dd;
    text-align: left;
    overflow:visible;
}
.progresslegend {
text-align:left;
}
.vprogressbarbg {
    background-color: rgb(139,194,65);
    width: 100%;
    height: 200px;
    min-width:15px;
}
.vprogressbar {
    background-color: white;
    width: 100%;
}
.moredata {
display:none;
}
.stats {
font-weight:bold;
}
@media only screen and (max-width: 640px) {
    .progresscircle {
        display: none;
    }

    .progressbarbg {
        display: block;
    }

    .progresslegend {
        text-align: left;
    }
}

@media only screen and (min-width: 960px) {
.moredata {
    display:inline;
}
}
@media only screen and (max-width: 480px) {
    blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    margin: 0px;
    padding: 5px;
    line-height: 1.45;
    color: #383838;
    }
    cite {
        display:block;
        text-align:right;
    }
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 19, 2013 10:50:20 PM America/New_York */
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('/Content/Fonts/WebSymbols-Regular-webfont.eot');
    src: url('/Content/Fonts/WebSymbols-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/Fonts/WebSymbols-Regular-webfont.woff') format('woff'),
         url('/Content/Fonts/WebSymbols-Regular-webfont.ttf') format('truetype'),
         url('/Content/Fonts/WebSymbols-Regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.wb {
font-family:'WebSymbolsRegular';
}


