body { 
margin : 0 auto;
padding : 0;
font-family : 'Droid Serif', serif; 	
color : #000; 
background-color:#eee;
}
.container{
    width:98%;
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 2px;
}
header, footer, section,article {
    display: block;
}
footer {
margin-bottom:20px;
}
nav ul{
    list-style-type:none;
    padding-left:0;
}

nav ul li {
    display:inline;
    padding-right:10px;
    border-right: 1px solid #aaa;
}

nav ul li:last-child {
    border-right: none;
}

h1, h2 {
font-family:'Oswald',verdana, arial, helvetica, helve, sans-serif;
color: rgb(51,153,51);
font-weight:normal;
margin:0;
padding:0;
}
header h1 
{
    font-size: 200%;
}
h1{
    font-size:140%;
}
h2 {
    font-size:120%;
}
p {
text-align:justify;
}
.span_1_of_5 h1 {
    font-size:100%;
    text-align:center;
}
small {
font-size:75%;
}
.floatleft {
    float:left;
}
.floatright {
    float:right;
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
margin: 0.25em 10px;
padding: 0.25em 40px;
line-height: 1.45;
color: #383838;
}

cite {
    display:block;
    text-align:right;
}

table { 
    border-collapse : collapse;
    border-spacing : 0;
    margin-bottom : 1.4em; 
    width : 100%; 
}
.tr0 {
    background-color:#e2e2e2;
}

.tr1 {
    background-color:white;
}

tr {
border:1px solid lightGray;
}

th, td, caption { 
padding : .25em 10px .25em 5px; 
}

caption { 
background-color : transparent; 
}

thead th {
    text-align:center;
}

td {
    text-align:center;
    width:44px;
    height:44px;
}

.reviewtable {
    background-color:whitesmoke;
}

.reviewtable tr{
    border:none;
}

.reviewtable td{
    padding:2px;
}

/*Forms*/

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    display: none;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

fieldset ol li {
    padding-bottom: 5px;
}

label {
    display: block;
    font-size: 110%;
}

.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #bbb;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 100%;
    max-width:300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

input:focus, textarea:focus {
    border: 1px solid #7ac0da;
}
input[type="checkbox"]:focus {
outline:2px dotted #7ac0da;
outline-offset:5px;
}

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="reset"].small,
input[type="submit"].small,
input[type="button"].small,
button.small {
    font-size: 90%;
    width:auto;
    padding:5px;
    margin:0;
}

input[type="reset"],
input[type="submit"],
input[type="button"],
button {
    border: 1px solid #e2e2e2;
    background-color:green;
    color:white;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    width:auto;
}

/*Links */
a, a:visited, a:hover, a:link {
    color:rgb(0,122,204);
    text-decoration:none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid orange;
    margin: 1em 0;
    padding: 0;
}

.progresscircle {
    width: 100%;
    height: 100%;
}
.progressbarbg {
    width: 98%;
    background-color: #fff;
    display: none;
    overflow: visible;
}
.progressbar {
    background-color: #0dd;
    text-align: left;
    overflow:visible;
    font-size:small;
}
.vprogressbarbg {
    background-color:white ;
    height: 200px;
    min-width:5px;
    vertical-align:bottom;
}
.vprogressbar {
    background-color: rgb(139,194,65);
}
.vprogressbari {
    background-color: orangered;
}
.mobileaxis {
    display:none;
}
.moredata {
display:none;
}
.stats {
font-weight:bold;
}

@media only screen and (max-width: 767px) {
    .progresscircle {
        display: none;
    }
    .progressbarbg {
        display: block;
    }
    .span_1_of_5 h1 {
        text-align: left;
        margin-bottom:5px;
    }
}

@media only screen and (max-width: 480px) {
    blockquote {
        font-family: Georgia, serif;
        font-style: italic;
        margin: 0;
        padding: 5px;
        line-height: 1.45;
        color: #383838;
    }
    cite {
        display:block;
        text-align:right;
    }
    .desktopaxis {
        display:none;
    }
    .mobileaxis {
        display:table-row;
    }
    .mobileaxis td {
        vertical-align:top;
    }
    header h1 
    {
        font-size: 130%;
    }
    h1{
        font-size:110%;
    }
    .span_1_of_5 h1 {
        text-align:left;
    }
    body { 
        font-family : 'Droid Serif', serif; 	
        font-size:100%;
    }
    a, a:visited, a:hover, a:link {
        color:rgb(0,122,204);
        text-decoration:none;
    }
}

@media only screen and (min-width: 960px) {
    .moredata {
        display:inline;
    }
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 19, 2013 10:50:20 PM America/New_York */
@font-face {
	font-family: 'icomoon';
	src:url('/Content/Fonts/icomoon.eot');
	src:url('/Content/Fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/Content/Fonts/icomoon.woff') format('woff'),
		url('/Content/Fonts/icomoon.ttf') format('truetype'),
		url('/Content/Fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-zohar:before, .icon-subuh:before, .icon-asr:before, .icon-key-stroke:before, .icon-magrib:before, .icon-isha:before, .icon-pencil:before, .icon-home:before, .icon-calendar:before, .icon-calendar-2:before, .icon-checkbox-checked:before, .icon-checkbox-unchecked:before, .icon-history:before, .icon-busy:before, .icon-spinner:before, .icon-user:before, .icon-bars:before, .icon-arrow-right:before, .icon-arrow-left:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
    color:rgb(229,59,44);
}
.icon-zohar:before {
	content: "\32";
}
.icon-subuh:before {
	content: "\31";
}
.icon-asr:before {
	content: "\33";
}
.icon-key-stroke:before {
	content: "\70";
}
.icon-magrib:before {
	content: "\34";
}
.icon-isha:before {
	content: "\35";
}
.icon-pencil:before {
	content: "\23";
}
.icon-home:before {
	content: "\68";
}
.icon-calendar:before {
	content: "\6d";
}
.icon-calendar-2:before {
	content: "\79";
}
.icon-checkbox-checked:before {
	content: "\59";
}
.icon-checkbox-unchecked:before {
	content: "\4e";
}
.icon-history:before {
	content: "\40";
}
.icon-busy:before {
	content: "\3f";
}
.icon-spinner:before {
	content: "\2a";
}
.icon-user:before {
	content: "\75";
}
.icon-bars:before {
	content: "\5e";
}
.icon-arrow-right:before {
	content: "\3e";
}
.icon-arrow-left:before {
	content: "\3c";
}

.wb {
font-family:'icomoon';
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

