@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section>
<h1>Logout</h1>
<p>
<br />&nbsp;<br />Thanks for using the application. You are successfully logged out now. 

</p>
</section>
